{% extends 'shop/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .card {
            width: 10px;
            height: 10px;
        }

        .image {

            width: 10px;
            height: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    {% block body %}
    <div class="container">

        <div class="row">
            {% for category_products in product_objects %}
            {% if category_products.slug == 'popular_brands' %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ category_products.image }}" class="card-img-top">
                    <div class="card-body">
                        <div id="nm{{category_products.id}}" class="card-title">{{ category_products.title }}</div>
                        <div id="price{{category_products.id}}" class="card-text">{{ category_products.price }}</div>
                        <a href="/{{ category_products.id }}" class="btn btn-warning">View</a>
                        <button id="{{category_products.id}}" class="btn atc btn-warning">Add to cart</button>

                    </div>
                </div>
            </div>
            {% endif %}

            {% endfor %}

        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_objects.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={‌{ product_objects.previous_page_number  }}">Previous</a>
                </li>
                {% endif %}


                <li class="page-item active">
                    <a class="page-link" href="?page={‌{ product_objects.number  }}">Current</a>
                </li>

                {% if product_objects.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={‌{ product_objects.next_page_number  }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    </div>
    </div>

</body>
<script type="text/javascript">
    console.log('This is working');

    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    $(document).on('click', '.atc', function () {
        console.log("The add to cart button is clicked");
        var item_id = this.id.toString();
        console.log(item_id);

        if (cart[item_id] != undefined) {
            quantity = cart[item_id][0] + 1;
            cart[item_id][0] = quantity;
            cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById("price" + item_id).innerHTML);


        }
        else {
            quantity = 1;
            price = parseFloat(document.getElementById("price" + item_id).innerHTML);
            name = document.getElementById("nm" + item_id).innerHTML;
            cart[item_id] = [quantity, name, price];



        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById("cart").innerHTML = "Cart(" + Object.keys(cart).length + ")";

    });

    DisplayCart(cart);
    function DisplayCart(cart) {
        var cartString = "";
        cartString += "<h5>This is your cart</h5>";
        var cartIndex = 1;

        let cartObject = JSON.parse(localStorage.getItem('cart'))
        for (item in cartObject) {
            console.log(cartObject[item][0])
            console.log(cartObject[item][1])

            cartString += cartObject[item][1] + "Qty:" + cartObject[item][0] + "</br>";
        }

        cartString += "<a href='/checkout'><button class='btn btn-warning' id='checkout'>Checkout</button></a>";
        document.getElementById("cart").setAttribute('data-content', cartString);
        $('[data-toggle="popover"]').popover();
    }


</script>
{% endblock %}

</html>